body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(242, 234, 3);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container{
  width: 400px;
  height: 200px;
  background-color: azure;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, .3);
  border-radius: 10px;
  position: relative;
}

.emoji-container{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  border-radius: 50%;
  display: flex;
  width: 50px;
  overflow: hidden;
}

.fa-regular{
  margin: 1px;
  transform: translate(0px);
  transition: transform 0.2s;
}

.rating-container{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%); 
}

.fa-solid{
  cursor:pointer;
  color: lightgray;
}

.fa-solid.active{
  color: gold;
}